extends layout

block links
  link(rel="stylesheet" href="/stylesheet/index.css")
  link(rel="stylesheet" href="/stylesheet/layout/layout.css")
  link(rel="stylesheet" href="/stylesheet/product/product.css")

block content
  main(id="site")
    div(id="backdrop")  
      div(id="backdrop__info1")
        a(class="backdrop__close")
          !=h.icon('error')
        h3(id="backdrop__heading") Added to Cart  
        p #{product.short_description} was added to cart
        div(class="backdrop__btn-block")
          a(class="backdrop__btn-continue") Continue Shopping
          form(class="implicit-form" method="post" action="/cart/view-cart-n-checkout")
            a(class="backdrop__btn-checkout") View Cart 'n' Checkout
      div(id="backdrop__info2")
        a(class="backdrop__close")
          !=h.icon('error')
        h3(id="backdrop__heading") Please Select A Variation
        div(class="backdrop__form-cover" data-imgurl= `/uploads/${product.product_image[0]}` data-name=`${product.short_description}` data-price=`${price}`)
          form(class="backdrop__form add2cart__form")
            div(class="backdrop__input-block")
              each size in sizes
                label(class="add2cart__label" for=size.label data-size=size.label) #{size.label}
                  input(type="radio" id=size.label name="size" data-category=size.category value=size.label class="add2cart__input")
              p(class="error_msg")
              div(class="prc backdrop__prc")
                span(class="new-prc") $ #{price}
                div(class="old-prc-pct backdrop__old-pct")
                  span(class="old-prc backdrop__old-prc") $ #{oddprice}
                  span(class="pct") -#{product.product_price.product_discount}%
              div(class="add2cart__btn-block")
                !=h.icon('cart-sub')
                input(class="add2cart__btn backdrop__btn" value="add to cart" type="submit") 
    div(class="product__row--1")
      div(class="product__bcbs")
        each tag in product.tags
          a(class="product__cbs" href="/product/getTags/"+tag) #{tag} &nbsp;
        a(class="product__bcbs_title") #{product.short_description}
      div(class="product__content__row--sub1")
        div(class="product__content__column--1")
          div(class="imgshr")
            div(class="img")
              img(src=`/uploads/${product.product_image[0]}`)
            div(class="shr")
              h3 share this product
              button(class="btn-fb")
              button(class="btn-twitter")
          div(class="proinfo")
            div(class="proinfo-header")
              h3 #{product.product_title}
            div(class="rtn-prc")
              div(class="brnd") 
                | Brand: 
                a(href="#") 'reserved for brand name' | 
                a(href="#") Similar product from 'reserved for brand name'
              div(class="rtn")
                span(class="str-rtn")
                a(href="#") 'reserved for product rating'
              div(class="prc")
                span(class="new-prc") $ #{price}
                div(class="old-prc-pct")
                  span(class="old-prc") $ #{oddprice}
                  span(class="pct") -#{product.product_price.product_discount}%
            div(class="add2cart" data-imgURL= `/uploads/${product.product_image[0]}` data-name=`${product.short_description}` data-price=`${price}`)
              form(id="add2cart__form" class="add2cart__form" action="/cart/add-to-cart" method="post")
                div(class="add2cart__header")
                  span select variation
                div(class="add2cart__input-block")
                  each size in sizes
                    label(class="add2cart__label" for=size.label) #{size.label}
                      input(type="radio" id=size.label name="size" value=size.label class="add2cart__input")
                  div(class="add2cart__btn-block")
                    !=h.icon('cart-sub')
                    input(class="add2cart__btn" value="add to cart" type="submit") 
            section(class="promo")
              h3 promotions
        div(class="product__content__column--2")
          div(class="drs")
            div(class="drs-header")
              h3 delivery & returns
          div(class="sif")
            div(class="sif-header")
              h3 seller information
          div(class="hots")
            h4 Have one to sell?
            p Click here to list your product
      div(class="product__content__row--sub2")
        div(class="product__content__column--1")
          div(class="pds")
            div(class="header")
              h3 product details
            div(class="body")
              blockquote #{product.description}
          div(class="spec")
            div(class="header")
              h3 specifications
            div(class="kfwb")  
              div(class="kf")
              div(class="wb")
              div(class="spec-child")
          div(class="mpl")
            div(class="header")
              h3 most popular
          div(class="cfb")
            div(class="header")
              h3 customer feedback
        div(class="product__content__column--2")
          div(class="prds")
            div(class="prds-header")
              h3 product details

  block scripts
    script(src="/javascript/jquery.min.js")
    script(src="/javascript/product.js")