extends layout

block links
  link(rel="stylesheet" href="/stylesheet/svg.css")
  link(rel="stylesheet" href="/stylesheet/index.css")
  link(rel="stylesheet" href="/stylesheet/layout/layout.css")
  link(rel="stylesheet" href="/stylesheet/cart/viewCartnCheckout.css")

block content
  div(class="row1")
    div(class="vcart__heading")
      h3(class="vcart__text" id="numItemsInCart") 
    div(class="vcart__tr vcart__tr--1")
      div(class="vcart__th vcart__th--1") item
      div(class="vcart__th vcart__th--2") quantity
      div(class="vcart__th vcart__th--3") unit price
      div(class="vcart__th vcart__th--4") subtotal

    - let x = 0
    each item in items
      div(class="vcart__tr")
        div(class="vcart__tb vcart__tb--1")
          div(class="vcart__img-block")
            img(class="vcart__img" src=`${item.imgURL}`)
          div(class="vcart__item-details")
            div(class="vcart__item-seller") [Seller Info here]
            div(class="vcart__item-name") #{item.name}
            div(class="vcart__item-size") #{item.size}
            div(class="vcart__item-actions")
              a(href="#") 
                img(src="https://upload.wikimedia.org/wikipedia/commons/8/86/A_perfect_SVG_heart.svg")
                span move to saved items
              a(href="#") 
                img(src="https://upload.wikimedia.org/wikipedia/commons/8/86/A_perfect_SVG_heart.svg")
                span remove
        div(class="vcart__tb vcart__tb--2 size")
          div(class="qty__toggle")
            ul(class="qty-list")
              li(class="qty-list__item figure-head") 
                span 1
                img(id="caret-img" src="/images/triangular-arrow-pointing-down.png")
              - const quantities = [1,2,3,4,5,6,7,8,9,10]
              ul(class="dropdown-list" data-price=item.price data-index=`${x}`)
                each quantity in quantities
                  li(class="qty-list__item qty" data-quantity=`${quantity}`) #{quantity}
        div(class="vcart__tb vcart__tb--3 price")
          span(class="current-price") $#{item.price}
          span(class="old-price")
          span(class="price-diff")
        div(class="vcart__tb vcart__tb--4")
          span(class="sub-total" data-index=`${x++}`) $#{item.price}
  div(class="row2")
    div(class="total-cost")
      span(class="total-key") Total:
      span(class="total-value") $ 3,000
    p(class="shipping-info") Shipping fee is not included yet
  div(class="row3")


  block scripts
    script(src="/javascript/jquery.min.js")
    script(src="/javascript/cart.js")