mixin productForm(product = {})
  form(enctype="multipart/form-data" method="post" action="add")
    input(type="text" placeholder="Product title" name="product_title")
    input(type="text" placeholder="Short description" name="short_description")
    input(type="text" placeholder="Product description" name="description")
    input(type="file" name="image" accept="image/gif, image/png, image/jpeg")
    input(type="number" placeholder="Product discount" name="discount")
    input(type="number" placeholder="Product price" name="current_price")
    input(type="text" placeholder="Total Number Of Products in Stock" name="product_in_stock_count")
    - const choices = ["Men's wear", "Women's wear", "fancy", "corporate", "affordable", "kiddies", "trending"]
    - const tags = product.tags || []
    ul.tag
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    select(name="category")
      each category in categories
        option(value=`${category._id}`) #{category.category_title}
    select(name="size")
      option(value=`none`) Nill
      each size in sizes
        option(value=`${size._id}`) #{size.label}
    input(type="submit" value="Add")


    //-  - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
    //- - const tags = store.tags || []
    //- ul.tags
    //-   each choice in choices
    //-     .tag.tag__choice
    //-       input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
    //-       label(for=choice) #{choice}
    //- input(type="submit" value="Save →" class="button")